.carouselImg:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to right, rgba(21, 21, 21, 100), rgba(255, 255, 255, 0));
}